---
---
@import "{{ site.theme }}";
.inner {
  max-width: 900px;
}

img {
  display: block;
  margin: auto;
  border-style: solid;
  border-color: #ddd;
  border-width: 5px;
}

p {
  color: green;
  margin-left: 3em;
  text-indent: -1em;
}

h4 {
  text-indent: 1em;
}