---
---
@import "{{ site.theme }}";
.inner {
  max-width: 900px;
}

#forkme_banner {
  display: none;
}

img {
  display: block;
  margin: auto;
}

p {
color: blue;
  margin-left: 4em;
  text-indent: -1em;
}

h4 {
  text-indent: 1em;
}