---
---
@import "{{ site.theme }}";

#forkme_banner { display: none; }

#footer_wrap { display: none; }

#project_tagline { color: grey; }

h4 { text-indent: 1em; }

table {
  width: 90%;
  border: none;
}

table tr {
  border: none;
}

table td {
  text-align: center;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

img {
  display: block;
  margin: auto;
}

p {
  margin-left: 4em;
  text-indent: -1em;
}

#navbar {
  width: 100%;
  background: white;
  border: 1px solid black;
  padding: 10px;
  padding-top: 30px;
}

.inner {
  max-width: 900px;
}